<html>
    <head>
        <title>Awesome Blog</title>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
    </head>
    
    
    <body>
        <div class="header">
        <a href="/">Awesome Blog!</a>
        </div>
       
       <div id="button-new">
        <form action='/newpost' method="get">
           <input type="submit" value="New"/>
        </form>
       </div>
       
       {% block content %}
       {% endblock content %}
       
       <div class="footer">
         <ul class="social">
            <li>Blog: <a href="http://cocoaaa.github.io">cocoaaa.github.io</a>
            </li>
            <li>Github: <a href="http://www.github.com/cocoaaa">github.com/cocoaaa</a>
            </li>
           
           </ul>
       </div>

    </body>
    
    
</html>